.wv-section-slider-products {
  margin-bottom: 40px;

  @media (min-width: ($md)) {
    margin-bottom: 60px;
  }

  // .wv-section-slider-products__head
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;

    &:hover {

      // stroke -> fill
      .wv-icon {
        use {
          stroke: transparent;
          fill: $emphasis;
        }
      }
    }
  }

  // .wv-section-slider-products__title
  &__title {
    flex: 1 1 auto;
    color: $body-color;
  }

  // .wv-section-slider-products__arrow
  &__arrow {
    display: none;

    .wv-icon {
      use {
        stroke: transparent;
        fill: $body-color;
      }
    }

    @media (min-width: ($md)) {
      display: flex;
    }
  }

  .swiper {}

  .swiper-wrapper {
    padding-bottom: 10px;
  }

  .swiper-slide {
    height: auto;
    grid-template-rows: 1fr auto;
  }
}