//


.wv-header {
	margin-bottom: 20px;

	&_scrolled {
		.wv-header__wrapper {
			position: fixed;

		}

		.wv-header-top,
		.wv-header-bot {
			display: none;
		}
	}

	&__wrapper {
		background: #fff;
		position: absolute;
		box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
		z-index: 1000;
		width: 100%;
	}

	&__body {
		display: flex;
		flex-direction: column;

		&>* {
			flex: 1 1 auto;
		}
	}


	.wv-menu-categories {
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;

		.menu-item {
			display: flex;
			align-items: center;
		}

		.menu-main {
			&__item {
				display: flex;

			}
		}
	}

}

#svg-logo {
	&:hover {
		.svg-logo-stroke {
			transition: .2s;
			fill: $emphasis;
		}

	}
}