.wv-breadcrumb {
  margin-bottom: 17px;
  display: flex;

  .container-lg {
    flex: 1 1 auto;
    display: flex;
  }

  &__body {
    flex: 1 1 auto;

  }

  @media (min-width: ($md)) {
    margin-bottom: 20px;
  }

  @media (min-width: ($lg)) {
    margin-bottom: 30px;
  }

  &__item {
    color: $secondary;
    font-size: $small-font-size;

    &:first-child {
      color: $dark;
    }
  }

  .wv-icon-default {
    margin: 0 5px;

    use {
      fill: $secondary;
    }
  }
}