.wv-quantity {
  display: inline-grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-row: 1 / 2;
  grid-column: 9 / 11;
  border: 1px solid #D0D2D7;
  border-radius: 8px;
  padding: 12px 10px;
  height: 48px;

  @media (min-width: ($md)) {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
  }

  .wv-icon {
    use {
      stroke: $tertiary;
    }
  }

  input {
    max-width: 30px;
    text-align: center;
  }
}