{
    "extends": [
        "plugin:@wordpress/eslint-plugin/recommended"
    ],
    "rules": {
        "no-console": "off"
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "$": true
    },
}