.header-menu-catalog-items {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;

  .menu-item {
    display: flex;
    align-items: center;

    // акции
    &#nav-menu-item-752 {
      display: flex;
      text-transform: uppercase;

      a {
        margin-left: 10px;
        color: $primary;
        font-size: inherit;
        // font-weight: 500 !important;
      }

      &::before {
        content: '';
        background: center no-repeat url('../../../../images/svg/sale.svg');
        width: 24px;
        height: 24px;
        padding-right: 10px;
        display: block;
      }
    }
  }

  .menu-link {
    display: block;
  }

  .menu-main {
    &__item {
      display: flex;

      &.menu-item-has-children {
        .menu-main__link {
          font-weight: 500;
          font-size: inherit;
        }

        .dropdown-toggle {
          display: block;
        }
      }
    }

    &__link {
      position: relative;

      // для категорий без подкатегорий 
      font-weight: bold;
      font-size: $small-font-size;
    }
  }

  .dropdown-menu {}

  .dropdown-toggle {
    display: none;

    &::after {
      width: 20px;
      height: 20px;
    }
  }

}