.wv-header-main {
  padding: 16px 0;
  // padding: 11px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // .wv-header-main__body
  &__body {
    display: flex;
    flex: 1 1 auto;
    height: 48px;
    align-items: center;
  }

  .wv-header-description {
    display: none;

    @media (min-width: ($xl)) {
      display: block;
      // width: 120px;
    }
  }

  .wv-link-item {
    min-width: 44px;
    min-height: 44px;

    .wv-icon use {
      stroke: $body-color;
    }

    &__icon {}

    &__title {
      display: none;
    }
  }
}