.wv-header-bot {
  display: none;
  padding: 18px 0;
  overflow: auto;
  height: 60px;

  @media (min-width: ($xl)) {
    overflow: visible;
  }

  &__wrapper {
    height: 24px;
    flex: 1 1 auto;
  }

  @media (min-width: ($md)) {
    display: flex;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  scroll-behavior: smooth;

  .menu-main {
    &__item {

      &:not(:last-child) {
        // position: relative;
        margin-right: 20px;
      }

      @media (min-width: ($xl)) {
        position: relative;

        &:hover {
          .menu-main__link {
            color: $emphasis;
          }

          .dropdown-menu {
            display: flex;
            flex-direction: column;
            bottom: 0;
            top: 30px !important;
            min-height: fit-content;
          }

          .wv-universal-toggle::after {
            transform: rotate(-180deg);
          }
        }
      }
    }

    &__link {
      white-space: nowrap;
    }
  }

  .wv-universal-toggle {
    z-index: 1;
    order: 1;

    // padding-left: 10px;
    // margin-left: -5px;
    &.show {
      &+.menu-main__link {
        // color: $emphasis;
      }
    }

    @media (min-width: ($xl)) {
      // display: none !important;
      pointer-events: none;
    }
  }

  .dropdown-menu {
    top: 12px !important;
  }
}