.wv-home-description {
  padding-bottom: 40px;
  background: #F2F6F6;

  @media (min-width: ($md)) {
    padding-bottom: 60px;
  }

  // .wv-home-description__decor
  &__decor {
    position: relative;

    svg {
      position: absolute;
      top: 0;

      &:first-child {
        left: 0;
      }

      &:last-child {
        right: 0;
      }
    }
  }

  // .wv-home-description__title
  &__title {
    text-align: center;
    padding: 40px 80px 20px 80px;

    @media (min-width: ($md)) {
      padding: 60px 0 30px 0;
    }
  }

  // .wv-home-description__paragraphs
  &__paragraphs {
    background: #fff;
    box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.15);
    border-radius: 10px;
    padding: 20px 25px;
    z-index: 1;
    position: relative;

    @media (min-width: ($md)) {
      padding: 30px;
    }
  }

  // .wv-home-description__paragraph
  &__paragraph {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  // .wv-home-description__toggle
  &__toggle {
    padding-top: 10px;
    color: $emphasis;

    .wv-icon {
      use {
        stroke: $emphasis;
      }
    }
  }
}