.woocommerce-variation-add-to-cart {
  .wv-add-to-cart {
    transition: .3s;
    padding: 7px 11px;
    border: 1px solid $primary;

    &_style_primary {}

    &:hover {
      background: $primary;

      .wv-icon {
        use {
          stroke: #fff;
        }
      }

      span {
        color: #fff;
      }
    }


    .wv-icon {
      margin-right: 10px;

      use {
        stroke: $primary;
      }
    }

    span {
      color: $primary;
    }
  }
}