.icons-sprite {
  height: 0;
  width: 0;

  symbol {

    &:not(.wv-icon-original) {
      fill: inherit;

      path {
        stroke: inherit;
        fill: inherit;
      }

      rect {
        stroke: inherit;
        fill: inherit;
      }


    }
  }
}

.wv-icon,
.wv-icon-default {
  transition: .1s;
  height: 24px;
  width: 24px;

  &_s {
    height: 16px;
    width: 16px;
  }

  &_m {
    height: 20px;
    width: 20px;
  }

  &_xl {
    height: 40px;
    width: 40px;
  }

}

.wv-icon {
  use {
    stroke: $body-color;
    fill: transparent;
  }
}

// актуально, когда fill, stroke не имеют разных цветов
.wv-icon-default {
  use {}
}

.wv-icon-after {
  display: inline-flex;

  &::after {
    content: '';
    margin-left: 5px;
  }

  &_sprite {
    &::after {}
  }

}

.wv-icon {
  &_type_arrow {}
}

div,
button,
a {
  &.collapsed {
    .wv-icon_type_arrow {
      transform: rotate(180deg);
    }
  }
}