/*
* WVNOTE: неочевидная логика - подключение и в prod и в build сборке возможно при
* использовании шрифтов из папки assets/dist/dist/fonts - билдер в dev сборке
* преобразует путь для шрифтов в абсолютный (несмотря на options.processCssUrls = FALSE)
* UPD: Не работало. Добавил ещё assets/dist/fonts - по итогу одна папка для prod, другая для dev

* UPD: Не работало. Добавил ещё assets/dist/fonts - по итогу одна папка для prod, другая для dev
*/
@font-face {
  font-family: 'TT Norms';
  src: url('../../dist/fonts/TTNorms-Medium.woff'), ;
  font-weight: 500;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../../dist/fonts/TTNorms-Medium.woff2'), ;
  font-weight: 500;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../../dist/fonts/TTNorms-Regular.woff'), ;
  font-weight: 400;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../../dist/fonts/TTNorms-Regular.woff2'), ;
  font-weight: 400;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../../dist/fonts/TTNorms-Bold.woff'), ;
  font-weight: bold;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../../dist/fonts/TTNorms-Bold.woff2'), ;
  font-weight: bold;
}