.swiper {
  width: 100%;
}

.swiper-slide {
  // padding-bottom: 50%;
  overflow: hidden !important;
}

.swiper-pagination {
  .swiper-pagination-bullet {
    background: #fff;
    opacity: .5;
    margin: 0 5px;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
    opacity: .8;
  }
}


/**
*/

.wv-swiper-arrows {
  display: flex;

  .wv-swiper-arrow {
    background: #fff;
    border-radius: 50%;
    flex: 1 1 auto;
    height: 40px;
    width: 40px;
    box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);

    &::after {
      content: '';
      display: none;
    }
  }

  .wv-icon {
    use {
      fill: transparent;
      stroke: $quaternary;
    }
  }

  .swiper-button-prev {}

  .swiper-button-next {
    transform: rotate(180deg);
  }

}

// WC

.woocommerce-notices-wrapper {
  display: none;
}

.woocommerce-variation-description,
.woocommerce-variation-availability {
  display: none;
}

.woocommerce-variation-price,
.wv-price {
  .price {
    display: flex;
    flex-direction: column;

    span {
      white-space: nowrap !important;

    }

    // стили для цены, когда нет скидки (.amount содержит тег внтри сеьбя)
    >.amount {
      font-weight: 500;
      text-underline-offset: 2px;
      text-decoration: underline solid $tertiary;
    }

    // стили для старой цены
    del {
      order: 2;

      .amount {
        text-decoration: line-through;
        font-size: $font-size-sm;
        color: $tertiary-bg;
      }
    }

    // стили для новой цены
    ins,
    bdi .amount {
      font-weight: 700;
    }
  }
}

.woocommerce-variation-add-to-cart {}

.added_to_cart.wc-forward {
  display: none !important;
}


// XOO WCS 


// CHOICE.JS
.choices {
  display: inline-flex;
  justify-content: center;
  flex: 1 1 auto;

  &.is-open {
    &::after {
      content: '';
      transform: rotate(-180deg);
    }
  }

  &__inner {}

  &__list.choices__list--dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -5px;
    right: 0;
    z-index: 1000;
    background: #fff;
    padding: 15px;
    border: 1px solid #F2F3F5;
    box-shadow: 0px 10px 30px rgba(34, 42, 70, 0.1);
    border-radius: 5px;
    transform: translate(0, 100%);

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    .choices__item {
      margin-bottom: 5px;

      &:hover {
        color: $emphasis;
      }
    }
  }

  &__item {
    white-space: nowrap;
    font-size: $font-size-sm !important;
  }

  &__list {}

  &::after {
    content: '';
    content: "";
    min-width: 10px;
    min-height: 10px;
    display: block;
    margin-left: 8px;
    padding: 5px;
    background: center no-repeat url('../images/svg/sprite-icons/arrow.svg') !important;
    transition: 0.1s;
  }
}

// TINVWL

.tinv-wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  .wv-icon {}
}

.tinvwl_add_to_wishlist_button {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  opacity: 0 !important;

  &.tinvwl-product-in-list+.wv-icon use {
    fill: $primary;
    stroke: $primary;
  }

  &::before {
    display: none !important;
  }
}

.wishlist-counter-with-products {
  .wv-icon {
    use {
      fill: $primary;
      stroke: $primary;
    }
  }
}

// Choises

.choices {
  &__list {
    display: flex;
    flex-direction: column;
    left: 0;
    width: fit-content;
  }
}