html,
body {
  font-family: 'TT Norms';
  // line-height: 133.333%;
  // line-height: 142.5%;

  // line-height: 100%;
  padding: 0 !important;
  line-height: $line-height-base;
  color: $body-color;
}

p {
  margin: 0;
  padding: 0;
}


ol,
ul,
dl {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

dt,
dd {
  padding: 0;
  margin: 0 5px 0 0;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: $dark;

  &:hover {
    color: $emphasis !important;
  }
}

img {
  // width: 100%;
}

input {
  &:disabled {
    background: transparent !important;
  }
}

// form
input,
button,
select {
  border: none;
  padding: 0;
  color: inherit;
}

* {
  &:focus-visible {
    outline: none;
  }
}

select {
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

button {
  border: none;
  background-color: transparent;
}

del,
ins {
  text-decoration: none;
}