body {
  font-family: 'TT Norms';
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark;

  &:hover {
    color: $emphasis;
  }
}

img {
  // width: 100%;
}


.btn-minimal {
  &:focus {
    box-shadow: none
  }
}

.wv-swiper-parent {
  min-width: 0;
}