$wv-border: 1px solid #D0D2D7;

//
//14/20 - 1.428;  18/26 - 1.44
$line-height-base: 1.375;
$line-height-sm: 1.25;
$line-height-lg: 1.428;

$font-size-root: null !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875 !default;
$wv-font-size-md: $font-size-base * 1.125 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$small-font-size: .875em;
// $sub-sup-font-size: 14px;
$sub-sup-font-size: .75em;
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// ) !default;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


$primary: #E2195B;
$secondary: #505567;
$dark: #1B1C21;

$body-color: #222A46;
$emphasis: #0093A2;

$secondary-bg: #F2F3F5;

$tertiary: #7D818E;
$tertiary-bg: #B0B2B9;

$quaternary: #353949;
$quaternary-bg: #F2F6F7;

$link-color: $body-color;
$link-hover-color: $emphasis;