$border: 1px solid #D0D2D7;

//

$font-size-root: null !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875 !default;
$font-size-md: $font-size-base * 1.125 !default; // MINE
$font-size-lg: $font-size-base * 1.25 !default;

$small-font-size: .875em;
$sub-sup-font-size: .75em;
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// ) !default;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


$primary: #E2195B;
$secondary: #505567;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
$dark: #1B1C21;

$body-color: #222A46;
$emphasis: #0093A2;

$secondary-bg: #F2F3F5;
$tertiary: #7D818E;


$quaternary: #353949;


$link-color: $body-color;
$link-hover-color: $emphasis;