.cart-count {
  position: absolute;
  border-radius: 50%;
  height: 18px;
  width: 18px;

  display: flex;
  align-items: center;
  text-align: center;
  background: $primary;
  border: 1px solid #fff;

  @media (min-width: ($md)) {
    height: 20px;
    width: 20px;
  }

  span {
    font-size: $sub-sup-font-size;
    flex: 1 1 auto;
    display: block;
    color: #fff;

    @media (min-width: ($md)) {
      font-size: $small-font-size;
    }
  }
}