.link-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &_type_circle {
    background: #fff;
    border-radius: 50%;
    border: $border;

    .link-item__title {
      display: none;
    }
  }

  // .link-item__icon
  &__icon {
    use {
      stroke: $tertiary;
      fill: #F2F6F6;
    }
  }

  // .link-item__title
  &__title {
    font-size: $sub-sup-font-size;
    color: $tertiary;
  }
}