.slider-products {
  margin-bottom: 50px;

  // .slider-products__head
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  // .slider-products__title
  &__title {}

  // .slider-products__arrow
  &__arrow {}
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}