.wv-header-main-call {
  display: none;

  @media (min-width: ($md)) {
    display: block;
    margin-right: 20px;
  }

  @media (min-width: ($xl)) {
    margin-right: 30px;
    order: 1;
  }

  // .wv-header-main-call__body
  &__body {}

  // .wv-header-main-call__dropdown
  &__dropdown {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
  }

  &__dropdown-menu {
    .wv-header-contacts {
      padding: 0;

      &__soc {
        margin: 0;
      }
    }
  }

  // .wv-header-main-call__call
  &__call {
    grid-row: 1/3;

    @media (min-width: ($lg)) {
      margin-right: 15px;

    }
  }

  .wv-universal-toggle {
    display: none;
    font-weight: bold;
    line-height: 1;
    // padding: 0 !important;

    @media (min-width: ($md)) {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
    }

    @media (min-width: ($lg)) {
      display: flex;
      position: static;
      width: auto;
      height: auto;
      opacity: 1;
      z-index: 0;
    }


    &::after {}
  }

  // .wv-header-main-call__request-call
  &__request-call {
    display: none;
    font-size: $small-font-size;
    color: $primary;
    text-decoration: underline;
    line-height: 1;

    @media (min-width: ($lg)) {
      display: flex;
    }
  }

  .wv-icon {
    use {
      stroke: $tertiary !important;
    }
  }
}