.woocommerce-loop-product {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  border: 1px solid #E2E4EB;
  border-radius: 5px;
  overflow: auto;
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;

  &__link {
    min-width: 0;
    display: grid;
  }

  // .woocommerce-loop-product__head
  &__head {
    &>div {
      z-index: 2;
      position: absolute;
    }

    .wv-link-item {
      width: 24px;
      height: 24px;

      @media (min-width: ($md)) {
        width: 32px;
        height: 32px;
      }

      .wv-icon {
        width: 16px;
        height: 16px;
      }
    }
  }

  // .woocommerce-loop-product__labels
  &__labels {
    display: flex;
    flex-direction: column;
    left: 15px;
    top: 15px;
  }

  // .woocommerce-loop-product__label
  &__label {
    text-align: center;
    background: $emphasis;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    font-size: $sub-sup-font-size;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #fff;
  }

  &__slider {
    margin-bottom: 20px;
  }


  // .woocommerce-loop-product__title
  &__title {
    font-size: $font-size-sm;

    @media (min-width: ($md)) {
      font-size: inherit;
    }
  }

  .tinv-wishlist {
    position: absolute !important;
    top: 10px;
    right: 10px;
  }

  .variations_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;

    .woocommerce-variation-add-to-cart {
      display: flex;
      justify-content: space-between;

      .quantity {
        display: none;
      }
    }
  }

  .wv-variations {}
}