.header-actions {
  z-index: 1020;
  box-shadow: 0px -3px 10px rgba(63, 66, 69, 0.1);
  padding: 10px 0;

  @media (min-width: ($md)) {
    display: none !important;
  }

  // .header-actions__body
  &__body {
    flex: 1 1 auto;
  }

  // .header-actions__list
  &__list {
    display: flex;

  }

  // .header-actions__item
  &__item {
    .link-item___icon {
      margin-bottom: 4px;
    }

  }

  .cart-count {
    left: 52%;
    top: -9%;
  }
}