.header-menu-main {
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;


  // .header-menu-main__body
  &__body {
    display: flex;
    // justify-content: space-between;
    flex: 1 1 auto;

    &>div {
      &:not(:last-child) {
        @media (min-width: ($md)) {
          margin-right: 12px;
        }
      }
    }
  }

  // .header-menu-main__logo
  &__logo {}

  // .header-menu-main__call
  &__call {
    display: none;

    @media (min-width: ($md)) {
      display: block;
    }
  }

  // .header-menu-main__search
  &__search {}

  // .header-menu-main__search-wrapper
  &__search-wrapper {}

  // .header-menu-main__wishlist
  &__wishlist {}

  // .header-menu-main__cart
  &__cart {}

  .header-description {
    @media (min-width: ($md)) {
      display: none;
    }

    @media (min-width: ($xl)) {
      display: block;
      width: 120px;
    }
  }

  .link-item {
    min-width: 44px;
    min-height: 44px;

    &__icon {}

    &__title {
      display: none;
    }
  }

}

.logo-header-menu-main {
  font-size: $font-size-lg;
  // font-weight: 500;
  margin-right: 21px;
  flex: 1 0 auto;
  display: flex;

  @media (min-width: ($lg)) {
    flex: 1 1 auto !important;

    margin-right: 28px !important;

  }

  &__link {
    display: flex;
    align-items: center;

    @media (min-width: ($xl)) {
      // отступ для description
      margin-right: 20px;
    }

    svg {
      &:first-child {
        margin-right: 8px;
        height: 44px;
        width: 42px;

        @media (min-width: ($md)) {
          width: 48px;
          transform: scale(1.1);
        }
      }

      &:last-child {
        width: 105px;
        height: 20px;
      }
    }
  }

  @media (min-width: ($md)) {
    flex: 0 1 auto;
    margin-right: 30px;
  }
}

.call-header-menu-main {

  // .call-header-menu-main__body
  &__body {}

  // .call-header-menu-main__dropdown
  &__dropdown {
    display: grid;
    grid-template-columns: auto auto;
  }

  &__dropdown-menu {
    .header-contacts {
      padding: 0;

      &__soc {
        margin: 0;
      }
    }
  }

  // .call-header-menu-main__call
  &__call {
    grid-row: 1/3;

    @media (min-width: ($lg)) {
      margin-right: 15px;

    }
  }

  &__dropdown-toggle {
    display: none;
    font-weight: bold;
    line-height: 1;

    @media (min-width: ($lg)) {
      display: flex;
    }
  }

  // .call-header-menu-main__request-call
  &__request-call {
    display: none;
    font-size: $small-font-size;
    color: $primary;
    text-decoration: underline;
    line-height: 1;

    @media (min-width: ($lg)) {
      display: flex;
    }
  }
}


.search-header-menu-main {
  display: flex;

  @media (min-width: ($md)) {}

  &__wrapper {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .header-search {
      &::before {
        display: block;
      }

      input::placeholder {
        opacity: 0;
      }
    }
  }
}

.wishlist-header-menu-main {
  display: none;

  .link-item {
    .icon use {
      stroke: $quaternary;
    }
  }

  @media (min-width: ($md)) {
    display: block;
  }
}

.cart-header-menu-main {
  display: none;

  @media (min-width: ($md)) {
    display: flex;
    align-items: center;
  }

  .link-item {
    margin-right: 15px;

    .icon use {
      stroke: $quaternary;
    }
  }

  &__price {
    white-space: nowrap;
    color: $primary;
    font-weight: 500;
  }

  .cart-count {
    left: 79%;
    top: -1%;
  }

}