.header-menu-catalog {
  display: none;
  padding: 19px 0;
  overflow: auto;

  @media (min-width: ($md)) {
    display: block;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .menu-main {
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__link {
      white-space: nowrap;
    }
  }

  .dropdown-toggle {
    z-index: 1;
    order: 1;
    padding-left: 10px;
    margin-left: -5px;
  }
}