.wv-checkout-form {

  // .wv-checkout-form__billing
  &__billing {}

  // .wv-checkout-form__item
  &__item {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;

    @media (min-width: ($md)) {
      padding-bottom: 40px;
      margin-bottom: 40px;
    }

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 150%;
      bottom: 0;
      left: -25%;
      background: #E2E4EB;
    }
  }

  // .wv-checkout-form__title-id
  &__title-id {
    background: $dark;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    margin-right: 15px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  // .wv-checkout-form__title
  &__title {
    display: inline-flex;
    margin-bottom: 20px;
    align-items: center;
  }

  // .wv-checkout-form__fields
  &__fields {
    display: grid;
    gap: 20px;

    @media (min-width: ($md)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .wv-checkout-form__sub-item
  &__sub-item {
    &:not(:last-child) {
      // margin-bottom: 20px;
    }
  }

  .form-row {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    span.woocommerce-input-wrapper {
      border: 1px solid #D0D2D7;
      border-radius: 5px;
      height: 48px;
      display: inline-flex;
      align-items: center;

      input {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding-left: 20px;

        &::placeholder {
          color: $tertiary;
        }
      }

      // billing_country
      .select2 {
        .selection {
          .select2-selection {
            border: none;

            &__rendered {}

            &__arrow {}
          }
        }
      }
    }
  }
}




.woocommerce-form {

  // .woocommerce-form__label
  &__label {}

  // .woocommerce-form__label-for-checkbox
  &__label-for-checkbox {}

  // .woocommerce-form__input
  &__input {}

  // .woocommerce-form__input-checkbox
  &__input-checkbox {}
}